body {
    /* Fundos principais */
    background-image: 
        url('../assets/images/pattern-circle.svg'),  
        url('../assets/images/pattern-circle.svg'),      
        url('../assets/images/pattern-lines.svg'),       
        url('../assets/images/pattern-squiggly-line-top.svg'), 
        url('../assets/images/pattern-squiggly-line-bottom-desktop.svg'),
        url('../assets/images/background-desktop.png');
    background-repeat:no-repeat;
    background-position:
        44px -85px,
        938px 534px,
        100% 100%,
        100% 76px,
        0 100%,
        center;
    background-size:auto,auto,auto,auto,auto,cover;

}